body {
    background-image: url(../images/painbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Crimson Text', serif;
    text-align: center;
}

.custHeader {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 7em;
    color: white;
}

.btn-custom1 {
    font-size: 1.5em;
    background: green;
    color: white;
}

.btn-custom2 {
    font-size: 1.5em;
    background: red;
    color: white;
}

.btn-custom3 {
    font-size: 1.5em;
    background: blue;
    color: white;
}

.btn-custom4 {
    font-size: 1.5em;
    background: gray;
    color: white;
}

.howTo {
    font-size: 2em;
}