body {
    background: url(../images/background.jpg);
    font-family: 'Times New Roman', Times, serif;
}

.ralewayFont {
    font-family: 'Raleway', sans-serif;
}

#randNumber {
    font-size: 100px;
}

.bg-customColor {
    background: black;
    color: rgb(252, 111, 3);
}